- name: Add Docker official GPG key
  become: true
  get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: '0644'
    force: true
  tags:
    - install
    - docker

- name: Add Docker Repository (deb822 style)
  become: true
  copy:
    content: |
      Types: deb
      URIs: https://download.docker.com/linux/ubuntu
      Suites: noble
      Components: stable
      Signed-By: /etc/apt/keyrings/docker.asc
      Architectures: amd64
    dest: /etc/apt/sources.list.d/docker.sources
    mode: '0644'
  tags:
    - install
    - docker

- name: Update apt and install docker-ce
  become: true
  apt:
    name: docker-ce
    state: latest
    update_cache: true
  tags:
    - install
    - docker
