- name: Fetch latest stable Go version
  uri:
    url: https://go.dev/VERSION?m=text
    return_content: yes
  register: go_version_response
  tags:
    - install
    - productivity
    - go

- name: Set fact for latest Go version
  set_fact:
    latest_go_version: "{{ go_version_response.content.splitlines()[0] | trim }}"
  tags:
    - install
    - productivity
    - go

- name: Debug latest Go version
  debug:
    msg: "Latest Go version is: {{ latest_go_version }}"
  tags:
    - install
    - productivity
    - go

- name: Set fact for Go tarball filename
  set_fact:
    go_tarball: "{{ latest_go_version }}.linux-amd64.tar.gz"
  tags:
    - install
    - productivity
    - go

- name: Set fact for Go download URL
  set_fact:
      go_download_url: "https://go.dev/dl/{{ go_tarball }}"
  tags:
    - install
    - productivity
    - go

- name: Check current installed Go version (if any)
  command: /usr/local/go/bin/go version
  register: current_go
  changed_when: false
  failed_when: false
  tags:
    - install
    - productivity
    - go

- name: Install latest Go from official tarball (only if needed)
  block:
    - name: Download latest Go tarball
      become: true
      get_url:
        url: "{{ go_download_url }}"
        dest: "/tmp/{{ go_tarball }}"
        mode: '0644'

    - name: Remove old /usr/local/go if exists
      become: true
      file:
        path: /usr/local/go
        state: absent

    - name: Extract Go to /usr/local
      become: true
      unarchive:
        src: "/tmp/{{ go_tarball }}"
        dest: /usr/local
        remote_src: yes
        creates: "/usr/local/go/bin/go"

    - name: Clean up downloaded tarball
      become: true
      file:
        path: "/tmp/{{ go_tarball }}"
        state: absent

  when: >
    current_go.rc != 0 or
    latest_go_version not in current_go.stdout
  tags:
    - install
    - productivity
    - go

- name: Add Go bin to PATH in ~/.zshrc if not already present
  lineinfile:
    path: "{{ ansible_env.HOME }}/.zshrc"
    regexp: '^export PATH=\$PATH:/usr/local/go/bin'
    line: 'export PATH=$PATH:/usr/local/go/bin'
    create: yes
    state: present
  tags:
    - install
    - productivity
    - go

- name: Add GOPATH bin to PATH
  lineinfile:
    path: "{{ ansible_env.HOME }}/.zshrc"
    regexp: '^export PATH=\$PATH:\$HOME/go/bin'
    line: 'export PATH=$PATH:$HOME/go/bin'
    create: yes
    state: present
  tags:
    - install
    - productivity
    - go

- name: Install Delve using the new go
  command: /usr/local/go/bin/go install github.com/go-delve/delve/cmd/dlv@latest
  environment:
    PATH: "{{ ansible_env.PATH }}:/usr/local/go/bin"
  tags:
    - install
    - productivity
    - go
