- name: MPV media player and controller utilities
  become: true
  apt:
    name: ["mpv", "mpv-mpris", "playerctl"]
  tags:
    - media
    - nonessentials

- name: KeePassXC
  become: true
  apt:
    name: [ "wireguard", "keepassxc"]
  tags:
    - nonessentials

- name: Download Hack Nerd Font
  get_url:
    url: https://github.com/ryanoasis/nerd-fonts/releases/download/v3.2.1/Hack.zip
    dest: /tmp/Hack.zip
    mode: '0755'
    force: 'yes'
  tags:
    - nonessentials
    - hack

- name: Unzip and copy to Fonts folder
  become: true
  shell: unzip /tmp/Hack.zip && mkdir -p /usr/share/fonts/truetype/Hack && mv *.ttf /usr/share/fonts/truetype/Hack/
  tags:
    - nonessentials
    - hack

- name: Tailwind Binary
  become: true
  get_url:
    url: https://github.com/tailwindlabs/tailwindcss/releases/latest/download/tailwindcss-linux-x64
    dest: /usr/local/bin/tailwindcss
    mode: '0755'
    force: 'yes'
  tags:
    - nonessentials
    - tailwind

- name: Install TeX Live and LaTeX packages
  become: true
  apt:
    name:
      - texlive
      - texlive-latex-extra
      - texlive-fonts-recommended
      - texlive-science
    state: present
    update_cache: yes
  tags:
    - nonessentials
    - latex
