- name: Remove neovim
  become: true
  file:
    path: "{{ lookup('env', 'HOME') }}/neovim"
    state: absent
  tags:
    - install
    - nvim

<<<<<<< HEAD
- name: Download Neovim PPA signing key
=======
- name: Clone Neovim
  ansible.builtin.git:
    repo: 'https://github.com/neovim/neovim.git'
    dest: "{{ lookup('env', 'HOME') }}/neovim"
    version: "nightly"
  tags:
    - install
    - nvim

- name: Build neovim
>>>>>>> master
  become: true
  ansible.builtin.get_url:
    url: https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x9DBB0BE9366964F134855E2255F96FCF8231B6DD
    dest: /etc/apt/keyrings/neovim-ppa-stable.asc
    mode: '0644'
    force: true
  tags:
    - install
    - nvim

<<<<<<< HEAD
- name: Add Neovim stable PPA (deb822 format)
=======
- name: Install neovim
>>>>>>> master
  become: true
  ansible.builtin.copy:
    content: |
      Types: deb
      URIs: http://ppa.launchpad.net/neovim-ppa/stable/ubuntu
      Suites: noble
      Components: main
      Signed-By: /etc/apt/keyrings/neovim-ppa-stable.asc
    dest: /etc/apt/sources.list.d/neovim-ppa-stable.sources
    mode: '0644'
  tags:
    - install
    - nvim

<<<<<<< HEAD
- name: Update apt cache after adding Neovim PPA
  become: true
  ansible.builtin.apt:
    update_cache: true
  tags:
    - install
    - nvim

- name: Install neovim from PPA
  become: true
  ansible.builtin.apt:
    name: neovim
    state: latest
  tags:
    - install
    - nvim

=======
>>>>>>> master
- name: Neovim Plugin Development 1
  become: true
  apt: name=luarocks
  tags:
    - install
    - nvim

- name: Neovim Plugin Development 2 luacheck
  become: true
  shell: luarocks install luacheck
  tags:
    - install
    - nvim
