- name: Remove neovim
  become: true
  file:
    path: "{{ lookup('env', 'HOME') }}/neovim"
    state: absent
  tags:
    - install
    - nvim

- name: Clone Neovim
  ansible.builtin.git:
    repo: 'https://github.com/neovim/neovim.git'
    dest: "{{ lookup('env', 'HOME') }}/neovim"
    version: "nightly"
  tags:
    - install
    - nvim

- name: Build neovim
  become: true
  shell: "cd {{ lookup('env', 'HOME') }}/neovim && make -j 20 CMAKE_BUILD_TYPE=Release"
  tags:
    - install
    - nvim

- name: Install neovim
  become: true
  shell: "cd {{ lookup('env', 'HOME') }}/neovim && make install"
  tags:
    - install
    - nvim

- name: Neovim Plugin Development 1
  become: true
  apt: name=luarocks
  tags:
    - install
    - nvim

- name: Neovim Plugin Development 2 luacheck
  become: true
  shell: luarocks install luacheck
  tags:
    - install
    - nvim

- name: Download Hack Nerd Font
  get_url:
    url: https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/Hack.zip
    dest: /tmp/Hack.zip
    mode: '0755'
    force: 'yes'
  tags:
    - install
    - nvim

- name: Unzip and copy to Fonts folder
  become: true
  shell: unzip /tmp/Hack.zip && mkdir -p /usr/share/fonts/truetype/Hack && mv *.ttf /usr/share/fonts/truetype/Hack/
  tags:
    - install
    - nvim
