- name: Install packages
  become: true
  apt:
    name: [ "tmux", "tree", "xclip", "tldr", "ripgrep", "batcat" ]
  tags:
    - install
    - productivity

# - name: Make themes available for bat
#   shell: bat cache --build
#   tags:
#     - install
#     - productivity

- name: Tmux Resurrect Plugin
  ansible.builtin.git:
    repo: 'https://github.com/tmux-plugins/tmux-resurrect'
    dest: '~/.tmux-resurrect'
  tags:
    - install
    - productivity

- name: Remove fzf
  file:
   path: '{{ ansible_env.HOME }}/.fzf/'
   state: absent
  tags:
    - install
    - productivity

- name: Clone fzf
  ansible.builtin.git:
   repo: 'https://github.com/junegunn/fzf.git'
   dest: '~/.fzf'
  tags:
    - install
    - productivity

- name: Run fzf install
  shell: ~/.fzf/install
  tags:
    - install
    - productivity

- name: Remove default zsh integration files
  file:
   path: '{{ ansible_env.HOME }}/.fzf/shell/'
   state: absent
  tags:
    - install
    - productivity

- name: Check for cargo
  shell: command -v cargo
  register: cargo_exists
  ignore_errors: yes
  tags:
    - productivity
    - rust

- name: Download Rust install script
  when: cargo_exists != 0
  get_url:
    url: https://sh.rustup.rs
    dest: /tmp/sh.rustup.rs
    mode: '0755'
    force: 'yes'
  tags:
    - productivity
    - rust

- name: Install rust/cargo
  when: cargo_exists != 0
  shell: /tmp/sh.rustup.rs -y
  tags:
    - productivity
    - rust

